img#prof_pic{
    margin-left: 7%;
    margin-top: 3%;
    height: 170px;
    width: 170px;
    float: left;

    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
    background: url('Img/login.png');
}

p#user_name{
    margin-left: 2%;
    margin-top: 4%;
    font-size: 35px;

    float: left;
}