img#prof_pic{
    margin-left: 7%;
    margin-top: 3%;
    height: 170px;
    width: 170px;
    float: left;

    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
}

p#user_name{
    margin-left: 2%;
    margin-top: 4%;
    font-size: 30px;
    min-width: 14%;
    max-width: 14%;

    float: left;
}

form#find{
    margin-left: 2%;
    margin-top: 3%;

  /*  width: 20%;*/

    border: solid 2px;
    border-radius: 10%;
    padding: 5px;

    background-color: #eed45f;

    float: left;
}

form#find input{
    margin-left: 20px;
    font-size: 32px;
    float: left;
}

form#find input:last-child{
    margin-right: 20px;
}

ul#friend_list{
    border: solid 2px;
    border-radius: 10%;
    padding: 5px;

    background-color: #eed45f;

    float: right;

    margin-right: 4%;
    margin-top: 3%;
    padding: 5px 45px 5px 45px;
    max-height: 80%;
}

ul#friend_list li{
    border: solid 1px;
    border-radius: 15px;
    padding: 2px;

    font-size: 20px;
    padding: 10px 30px 10px 30px;

    margin-bottom: 10px;
}