<link rel="stylesheet" href="/public/header.css" type="text/css">

<div class="line"></div>

<div class="header">
  <a class="header_item" href="/">Home Page</a>
  <a class="header_item" href="#">Contact</a>
  <a class="header_item" href="#">About</a>

  <a id="login_btn" href="/login_" class="header_item">Log in</a>
</div>

<script src="/js/login.js" type="text/javascript"></script>
