<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
    "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Your Page</title>
  <link rel="icon" type="image/ico" href="Img/profile.png" />
  <link rel="stylesheet" href="public/styles.css">
  <link rel="stylesheet" href="public/profile.css">

</head>

<body>
  

  <script src="js/scripts.js"></script>
  <script src="js/make_url.js"></script>
</body>
</html>
<!--	background-color: #80bfff;-->
